<html>
<head><title>Configure a Tool Provider</title></head>
<body>
<style type="text/css">
  input {
    width: 30em;
  }
</style>

<h1>Tool Provider Configuration</h1>
<p>Hey <%= @username %>, let's launch a Tool Provider!</p>
<% if @message %>
  <p style="color: #ff3d23;"><%= @message %></p>
<% end %>
<form action="/tool_launch" method="post">
  <table>
    <tr>
      <td>Tool Name</td>
      <td><input name="tool_name" type="text" value="Tool Provider"/></td>
    </tr>
    <tr>
      <td>Consumer Key</td>
      <td><input name="consumer_key" type="text" value="key"/></td>
    </tr>
    <tr>
      <td>Consumer Secret</td>
      <td><input name="consumer_secret" type="text" value="secret"/></td>
    </tr>
    <tr>
      <td>Launch URL</td>
      <td><input name="launch_url" type="text" value="http://localhost:3000/launch"/></td>
    </tr>
    <tr>
      <td>Passback URL</td>
      <td><input name="passback_url" type="text" value="<%= request.scheme + "://" + request.host_with_port %>/grade_passback"/></td>
    </tr>
    <tr>
      <td>Resource Link ID</td>
      <td><input name="resource_link_id" type="text" value="uniqueresourceidentifier"/></td>
    </tr>
    <tr>
      <td>Roles</td>
      <td><input name="roles" type="text" value="Instructor,Admin"/></td>
    </tr>
    <tr>
      <td>Context ID</td>
      <td><input name="context_id" type="text" value="uniquecontextid"/></td>
    </tr>
    <tr>
      <td>Context Title</td>
      <td><input name="context_title" type="text" value="Example Course"/></td>
    </tr>
    <tr>
      <td>Tool Consumer Instance Name</td>
      <td><input name="tool_consumer_instance_name" type="text" value="Example Consumer"/></td>
    </tr>
    <tr>
      <td>Launch as assignment</td>
      <td><input type="checkbox" name="assignment" checked="checked"></td>
    </tr>
    <tr>
      <td>Launch automatically</td>
      <td><input type="checkbox" name="autolaunch" checked="checked"></td>
    </tr>
  </table>

  <button type="submit">Submit</button>
</form>
</body>
</html>
